.footer {
  background-color: var(--color-primary);
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.footer_text {
  font-size: 1.8rem;
  font-weight: 300;
}

.footer_social {
  display: flex;
  column-gap: 1rem;
}

.footer_item {
  border-bottom: 0.5px solid var(--color-grey);
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.footer_item:hover {
  border-bottom: 0.5px solid var(--color-secondary);
  width: 70%;
}

.footer_item:hover .footer_item_text {
  color: var(--color-tertiary);
  transform: scale(1.02);
}

.footer_item_text {
  color: var(--color-grey);
  font-weight: 300;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  padding: 1.5rem 0;
}

.footer_secondary {
  padding: 0 1rem;
}

.footer_tertiary {
  padding: 0 1rem;
}

.footer_tertiary_heading {
  font-size: 2.4rem;
  font-weight: 300;
  color: var(--color-tertiary);
}

/* Button */

.submitButton {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 0.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

.submitButton:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0rem 1rem 2rem rgba(253, 249, 249, 0.1);
}

/* Copyright */

.copyright {
  background-color: var(--color-primary);
  padding: 3rem 8rem;
}
.copyrightsub {
  padding: 2rem 0rem;
  border-top: 1px solid var(--color-grey-dark);
}

.copyright_text {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-grey);
}
