
  
  /* The progress container (grey background) */
  .progresscontainer {
    width: 100vw;
    height: 10px;
    background:  #8E3FE2;
    position: fixed;
    z-index:99
  }
  
  /* The progress bar (scroll indicator) */
  .progressbar {
    height: 10px;
    background: aliceblue;
    width: 0%;
    z-index:99


  }
.li{
  font-size:2em;
  font-family: "Times New Roman", Times, serif;
  border-bottom:2px;
  margin-top:0.4em;

  transition: all 0.3s ease-in-out;

  padding:.3em;border-top:2px solid blueviolet;
  border-bottom:2px solid black;
  border-left:2px solid aliceblue;
  border-right:2px solid aliceblue;
  font-weight:bold
  

}


 .li:hover{
  cursor:pointer;
  
  border-top:2px solid aliceblue;
  border-bottom:2px solid aliceblue;
  border-left:2px solid blueviolet;
  border-right:2px solid blueviolet;
  border-radius:2px;
  margin-top:5px
 }

 .logo{
  

  background-color: var(--color-tertiary);
 top:1px;
  position:fixed;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  border:2px solid blueviolet;
  border-radius:60px;
  outline:2px solid green
 
 }
 .logo:hover{
  outline: 1px solid var(blue);
  margin-top:15px;
  border-radius:4px;
  background-color:#0e0716

  
 }