:root {
  --color-primary: #121212;
  --color-secondary: #8c75ff;
  --color-tertiary: #ffffff;
  --color-grey: #e2e2e2;
  --color-grey-light: rgb(145, 145, 145);
  --color-grey-mid: rgb(28, 28, 28);
  --color-grey-dark: #151515;

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Major Mono Display", monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 
    1rem = 10px 
  */
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  overflow-x: hidden;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: var(--font-primary);
  letter-spacing: 0px;
  line-height: 1;
  color: var(--color-primary);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-weight: 400;
}

h5 {
}

h6 {
}

a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Image Reset */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Form Components */
input,
button,
textarea,
select {
  font: inherit;
}
