/* First Section */
.home_first {
  padding: 8rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10rem;
}

.home_first_cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

.home_first_secondary {
  justify-self: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_first_social {
  display: flex;
  column-gap: 0.6rem;
}

.home_first_text {
  text-align: right;
}

/* Second Section */

.home_second {
  padding: 8rem 8rem 0 8rem;
  width: 100%;
  position: relative;
}

.home_second_img {
  border-radius: 10rem 10rem 0 0;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  object-position: center;
  z-index: 1;
  position: relative;
  border-top: 0px solid var(--color-grey);
}

.home_second_img:hover {
  transform: scale(0.97);
  border-top: 1.5rem solid var(--color-secondary);
}

.home_second_cta {
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20rem;
  padding: 3rem;
  border-radius: 50%;
  width: 20rem;
  background-color: var(--color-primary);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 20%;
  left: 65%;
  box-shadow: 0rem 2rem 6rem rgba(255, 255, 255, 0.2);
  outline: 1.5rem dashed var(--color-secondary);
  transition: all 0.2s ease-in-out;
}

.home_second_cta:hover {
  box-shadow: 0rem 2rem 6rem rgba(255, 255, 255, 0.4);
  top: 18%;
  background-color: var(--color-grey);
  outline: 1.2rem dashed var(--color-secondary);
}

.home_second_cta:hover > h3 {
  color: var(--color-primary);
}

.home_second_cta > h3 {
  display: inline-block;
  text-align: center;
}

/* Third Section */
.home_third {
  background-color: var(--color-primary);
  overflow-x: hidden;
  padding: 4rem;
}

.home_third:hover .home_third_text {
  transform: translateX(-100%);
  font-size: 3rem;
}

.home_third_text {
  transition: all 4s ease-in-out;
  white-space: nowrap;
  font-family: var(--font-secondary);
  user-select: none;
}

/* Fourth Section */

.home_fourth {
  padding: 8rem;
  background-color: var(--color-grey-dark);
}

.home_fourth_prim {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3rem;
  align-items: flex-end;
}

.home_fourth_text {
  color: var(--color-grey);
}

.home_fourth_right {
  justify-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  width: 80%;
}

.home_fourth_sec {
  border-top: 1px solid rgb(81, 81, 81);
}

/* Service Item */

.service_item {
  display: grid;
  color: var(--color-grey);
  font-size: 2.1rem;
  grid-template-rows: 1fr;
  grid-template-columns: max-content max-content;
  grid-column-gap: 1.4rem;
  align-items: center;
  padding: 1.4rem 2rem;
  border-radius: 10rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-grey);
  cursor: pointer;
}
.service_item:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  box-shadow: 0rem 2rem 6rem rgba(255, 255, 255, 0.08);
}

.service_item:hover .service_item_icon {
  color: var(--color-tertiary);
}

.service_item_text {
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}

.service_item_icon {
  line-height: 0;
  transition: all 0.2s ease-in-out;
}

/* Service Bar */

.service_bar {
  width: 100%;
  cursor: pointer;
  padding: 3rem 5rem;
  border-bottom: 1px solid rgb(81, 81, 81);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.service_bar_head {
  color: var(--color-grey-light);
  font-family: var(--font-secondary);
  user-select: none;
  line-height: 0;
  transition: all 0.2s ease-in-out;
}

.service_bar_head > span {
  font-size: 5rem;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.service_bar_icon {
  padding: 1.5rem;
  color: var(--color-grey-light);
  font-size: 3.2rem;
  line-height: 0;
  transition: all 0.2s ease-in-out;
}

.service_bar:hover {
  border-bottom: 1px solid var(--color-grey-mid);
  background-color: var(--color-grey-mid);
  transform: scale(1.03);
}

.service_bar:hover .service_bar_head {
  color: var(--color-tertiary);
}

.service_bar:hover .service_bar_head > span {
  color: var(--color-secondary);
  font-size: 7rem;
}

.service_bar:hover .service_bar_icon {
  color: var(--color-tertiary);
  box-shadow: 0 2rem 6rem rgba(255, 255, 255, 0.08);
  transform: scale(1.1);
  background-color: var(--color-secondary);
}
